.main {
  padding: 5rem 0;
  text-align: center;
}

.content {
  max-width: 480px;
  margin: 0 auto;
}

.code {
  font-size: 6rem;
  font-family: sans-serif;
  font-weight: 900;
  color: var(--color-border);
  line-height: 1;
  margin-bottom: 1rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text {
  color: var(--color-text-muted);
  margin-bottom: 2rem;
}
